[submodule "vendor/brotli/source"]
	path = vendor/brotli/source
	url = https://github.com/google/brotli
[submodule "vendor/sfnt2woff/source"]
	path = vendor/sfnt2woff/source
	url = https://github.com/kseo/sfnt2woff.git
