[submodule "vendor/woff2/source"]
	path = vendor/woff2/source
	url = https://github.com/google/woff2.git
[submodule "vendor/brotli/source"]
	path = vendor/brotli/source
	url = https://github.com/google/brotli
